@page
@model OrchidSellerClient.Pages.OrchidPages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Orchid</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orchid.IsNatural)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orchid.IsNatural)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orchid.OrchidDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orchid.OrchidDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orchid.OrchidName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orchid.OrchidName)
        </dd>
        <dt class="col-sm-2">
            Orchid Image
        </dt>
        <dd class="col-sm-10">
            <img src="@(string.IsNullOrEmpty(Model.Orchid.OrchidUrl) ? "/images/no-image.png" : Model.Orchid.OrchidUrl)"
                 alt="Orchid Image"
                 style="max-width: 100px; max-height: 100px;" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orchid.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orchid.Price)
        </dd>
        <dt class="col-sm-2">
            Category
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orchid.CategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Orchid.OrchidId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
